

*{
	margin: 0;
	padding: 0;
	font-family: arial;
}
.nav-link{
	color: black 	;
	font-weight: bold;
	text-transform: uppercase;
}
body{
	font-family: arial;	
	
	
	
}
footer{
position: absolute;
left: 0;
bottom: 0;
height: 25px;
width: 100%;
font-size:20px;
text-align: center;
line-height:25px;
}
.card{
	border-radius: 0;
	border:solid black;
}
.btn{
	border-radius: 0;
	background-color: black;
	color: white;
	border: 0;
	text-transform: uppercase;

}
.btn:hover{
	background: black;
	color: white;
}
.form-control{
	border-radius: 0;
}
.uitlogknop{
	background-color: black;
	color: white;
	border: none;
}
#achtergrond{
	
	background-image: url(../../public/img/back.png);
	background-repeat: no-repeat;
	background-size: cover;

	width: 100%;
}
.backmidregister{
	display: flex;
	display: flex;
	justify-content: center;
	width: 30%;
	border: solid black;
	margin-top: 150px;
	height: 420px;
	background-color: white;
	

}
.backmid{
	display: flex;
	display: flex;
	justify-content: center;
	width: 30%;
	border: solid black;
	margin-top: 200px;
	height: 300px;
	background-color: white;

}
#loginstyle{
	border: black solid;
}
#registerstyle{
	background-color: black;
	
}
#regtext{
	color: white;
	border: black solid;
}
.textmid{
	margin-top: 50px;
	font-size: 40px;
	color: black;
	
}
#center{
	display: flex;
	justify-content: center;
}


.container-fluid{
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	
}

#logo{
	width: 100px;
}

table{
    width: 100%;
    border: 2px solid black;
	
	margin-top: 35px;
}



tr:hover{
	background-color: lightblue;
	}

h1{
	font-size: 21px;
	font-weight: bold;
}

h3{
	margin-top: 15px;
}

#button{
	border: 1px solid black;
	
	background-color: lightblue;
	padding: 10px;
}

#delete{
	background-color: blue;
	padding: 5px;

}

#change{
	background-color: red;
	padding: 5px;
	border-radius: 5px;
}

#event{
	display: flex;
	flex-direction: column;
}

#button2{
	background-color: blue;
	padding:5px;
	font-weight: bold;
	
}








